<!DOCTYPE html>
<html>
	<head>
		<title>Portafolio de presentacion</title>
		<link rel=stylesheet href="css/style.css" />
		<meta charset="utf-8">
	</head>
	<body>
		<div id="imgPerfil_Nom">
			<img src="imagen/perfil.png" alt="Imagen" width="100" height="110">
			
			<h1>Keneth Pacheco Suárez</h1>
		</div>
		<div id="navegador">
			
			<div><a href="#Acerca de">Acerca de</a></div>
			<div><a href="#Est_cert">Estudios y certificaciones</a></div>
			<div><a href="#Expe">Experiencia</a></div>
				
		</div> 
		<div id="Acerca_de">
			<div id="info">
				<h2>Informacion personal</h2>
				<h1>Acerca de: </h1>
				<h3>Video de presentacion</h3>
				<iframe width="360" height="200" src="https://www.youtube.com/embed/2xzGc7scH8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p>Confío plenamente en mi capacidad para generar ideas innovadoras. 
				Gran motivación para continuar perfeccionando mis habilidades y enfocado en crecer profesionalmente.</p>
			</div>
			<div id="habil">
				<h2>Habilidades: </h2>
				<ul>
					<li><p>Responsable</p></li>
					<li><p>Proactivo</p></li>
					<li><p>disciplinado</p></li>
					<li><p>Colaborativo</p></li>
				</ul>
			</div>
			<div id="contacto">
				<h2>Contacto: </h2>
				<table border="4">
					<tr>   
						<th> Metodo </th> 
						<th> Acceso </th>
					</tr>
					<tr>
						<td> Vivienda</td>   
						<td> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d996.7919017423153!2d-79.9422845103848!3d-2.088653999999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1666757539388!5m2!1ses!2sec" width="300" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>   
					</tr>
					<tr>
						<td>facebook</td>   
						<td> <a title="Facebook" href="https://www.facebook.com/"><img class="imagen" width="50" height="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHe2GslsjaoJquxKTu31ASib1vee0EfYQYwMc1L0-MXa3X57L6P4snY1TvBNRecl_qW1I&usqp=CAU" alt="Facebook"></a> </td>   
					</tr>
					<tr>
						<td>Instagram</td>   
						<td><a title="Instagram" href="https://www.instagram.com/"><img class="imagen" width="50" height="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="Instagram" ></a></td>   
					</tr>
					<tr>
						<td>Linkedin</td>   
						<td> <a title="Linkedin" href="https://www.linkedin.com/"><img class="imagen" width="50" height="50" src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="Linkedin" ></a></td>   
					</tr>
					<tr>
						<td>Github</td>   
						<td> <a title="Github" href="https://github.com/"><img class="imagen" width="100" height="50" src="https://global-uploads.webflow.com/5f5a53e153805db840dae2db/6073fbf151fa4565d48572dc_GitHub_aprender-programaci%25C3%25B3n.jpeg" alt="Github" /></a></td>   
					</tr>
					
				</table>
			</div>
		</div> 
		<hr>
		<div id="Est_cert">
			<div id="info_acad">
				<h1>Formación Académica:</h1>
				<ul>
					<li><p>Academia Naval Almirante Illingworth (ANAI) (2009-2015) Bachiller en Informática</p></li>
					<li><p>Escuela Superior Policténica del Litoral (ESPOL) (2016-2022) Ingeniero en Ciencias Computacional</p></li>
				</ul>
			</div>
			<div id="info_adic">
				<h1>Formación Complementaria:</h1>
				<ul>
					<li><p>Certificacion Fundamentos de redes de datos (CISCO) (2021)</p></li>
				</ul>
			</div>
		</div>
		<hr>
		<h1>Experiencia laboral</h1>
		<div id="Expe">
			<div id="emp1"> 
				<p>Mi Comisariato</p>
				<a title="empresa 1" href="https://micomisariato.com/"><img class="imagen" width="100" height="50" src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Mi_Comisariato.png" alt="comisariato" ></a>
			</div>
			<div id="descripcion1">
				<p>cargo que desenpeño</p>
				<p>descripcion </p>
			</div>
			<div id="emp2">
				<p>Sweet and Coffee </p>
				<a title="empresa 2" href="https://www.sweetandcoffee.com.ec/"><img class="imagen" width="100" height="50" src="https://seeklogo.com/images/S/sweet-coffee-logo-05AA0998F6-seeklogo.com.png" alt="Cafeteria" ></a>
			</div>
			<div id="descripcion2">
				<p>cargo que desenpeño</p>
				<p>descripcion </p>
			</div>
			<div id="emp3">
				<p>Supercines</p>
				<a title="empresa 3" href="https://supercines.com"><img class="imagen" width="100" height="50" src="https://supercines.com/assets/img/home/supercinesLogo.png" alt="Cine" ></a>
			</div>
			<div id="descripcion3">
				<p>cargo que desenpeño</p>
				<p>descripcion </p>
			</div>
			<div id="emp4">
				<p>Broadnet</p>
				<a title="empresa 4" href="http://www.broadnetla.net/"><img class="imagen" width="100" height="50" src="http://www.broadnetla.net/img/logo.png" alt="C.R.M" ></a>
			</div>
			<div id="descripcion4">
				<p>cargo que desenpeño</p>
				<p>descripcion </p>
			</div>
		</div>
	</body>
</html>