<!DOCTYPE html>
<html>
	<head>
		<title>Portafolio de presentacion</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div id="imgPerfil_Nom">
			<img src="https://us.123rf.com/450wm/martialred/martialred1608/martialred160800018/61263271-cuenta-de-usuario-perfil-del-icono-del-c%C3%ADrculo-plana-para-aplicaciones-y-sitios-web.jpg?ver=6" alt="imagen de perfil" width="100" height="100">
			<h1>Keneth Pacheco Suárez</h1>
			<hr>
		</div>
		<div id="navegador">
			<ul>
				<li><a href="#Acerca de">Acerca de</a></li>
				<li><a href="#Est_cert">Estudios y certificaciones</a></li>
				<li><a href="#">Experiencia</a></li>
				
			</ul>
			<hr>
		</div> 
		<div id="Acerca de">
			<p>Acerca de: Confío plenamente en mi capacidad para generar ideas innovadoras. Gran motivación para continuar perfeccionando mis habilidades y enfocado en crecer profesionalmente.</p>
			<p>Habilidades: se insertara un texto indicando diferentes.</p>
			<p>Contacto: se insertara las diferentes formas de contacto de la persona de forma de lista.</p>
		</div> 
		<hr>
		<div id="Est_cert">
			<p>Formación Académica:</p>
			<ul>
				<li><p>Academia Naval Almirante Illingworth (ANAI) (2009-2015) Bachiller en Informática</p></li>
				<li><p>Escuela Superior Policténica del Litoral (ESPOL) (2016-2022) Ingeniero en Ciencias Computacional</p></li>
			</ul>
			<p>Formación Complementaria:</p>
			<ul>
				<li><p>Certificacion Fundamentos de redes de datos (CISCO) (2021)</p></li>
			</ul>
		</div>
	</body>
</html>